/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-ene-2018, 10:59:29
    Author     : Marcelo
*/
/* Coolors Exported Palette - coolors.co/e6fafc-48a0c9-0353a4-011627-080c0a */
/* RGB */
.ui-growl-item-container {
  background: #0353a4 !important;
  opacity: .95 !important;
  filter: alpha(opacity=95) !important; }

.ui-menu.ui-widget li > .ui-menuitem-link.ui-state-hover {
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #1f94cf, #0077b3);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0); }

.bsbb {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important; }

.ui-widget *,
.ui-widget *:before,
.ui-widget *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

table {
  box-sizing: border-box !important; }
  table input {
    width: 100%; }
  table .ui-selectonemenu {
    width: 100%;
    box-sizing: border-box; }

.tableFooter {
  text-align: center;
  background: transparent; }
  .tableFooter td {
    padding: 30px 0px !important;
    border-color: transparent !important; }
  .tableFooter button {
    margin-left: 10px;
    margin-right: 10px; }

.tableBorderOff tr {
  border: none !important; }
.tableBorderOff td {
  border: none !important; }

.tableAutoMargin {
  margin: 0 auto; }

/* New User */
.newUserContainer {
  padding: 25px 0; }
  .newUserContainer h1 {
    text-align: center; }

/* FIN New User */
/* Login */
.loginBody {
  background: #a9bacb;
  background: -moz-linear-gradient(-45deg, #a9bacb 0%, #eedecd 12%, #bcab9a 32%, #789aab 53%, #eedecd 75%, #446688 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #a9bacb), color-stop(12%, #eedecd), color-stop(32%, #bcab9a), color-stop(53%, #789aab), color-stop(75%, #eedecd), color-stop(100%, #446688));
  background: -webkit-linear-gradient(-45deg, #a9bacb 0%, #eedecd 12%, #bcab9a 32%, #789aab 53%, #eedecd 75%, #446688 100%);
  background: -o-linear-gradient(-45deg, #a9bacb 0%, #eedecd 12%, #bcab9a 32%, #789aab 53%, #eedecd 75%, #446688 100%);
  background: -ms-linear-gradient(-45deg, #a9bacb 0%, #eedecd 12%, #bcab9a 32%, #789aab 53%, #eedecd 75%, #446688 100%);
  background: linear-gradient(135deg, #a9bacb 0%, #eedecd 12%, #bcab9a 32%, #789aab 53%, #eedecd 75%, #446688 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9bacb', endColorstr='#446688', GradientType=1 ); }

.loginBackground {
  background: url("#{resource['images/fondo.jpg']}") no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0; }

.loginVertical {
  padding-top: 8%; }

.loginFormContainer {
  background: #fff9;
  border: 0px solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: -1px 4px 26px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 4px 26px 10px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 4px 26px 10px rgba(0, 0, 0, 0.75);
  padding: 30px; }
  .loginFormContainer h3 {
    margin-bottom: 40px; }

.login-selectonemenu {
  width: 100% !important;
  margin-bottom: 20px; }

.login-button {
  width: 100%;
  text-align: center; }

/* FIN Login */
.ui-widget {
  line-height: 1.15; }

html {
  height: 100%; }

body {
  background: #fcfcfb;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: colum; }

header {
  background: #48a0c9;
  color: #e6e6de;
  padding-bottom: 10px; }

footer {
  background: #011627;
  color: #6fb4d5; }
  footer h3 {
    color: #48a0c9; }
  footer p {
    margin-bottom: 0px; }
  footer figure {
    text-align: center;
    margin-bottom: 0px; }
    footer figure img {
      width: 100%;
      max-width: 200px;
      padding: 20px; }
  footer div[role=end] {
    background: #080c0a;
    text-align: center;
    color: #3385ab;
    padding-top: 10px;
    padding-bottom: 10px; }
    footer div[role=end] p {
      margin-bottom: 0; }

section[role=main] {
  -webkit-flex: 1 0 auto;
  /* Safari 6.1+ */
  -ms-flex: 1 0 auto;
  /* IE 10 */
  flex: 1 0 auto; }

.btnTable {
  margin-right: 10px !important; }

.btn-form {
  background-image: none !important;
  display: inline-block !important;
  font-weight: 400 !important;
  text-align: center !important;
  white-space: nowrap !important;
  vertical-align: middle !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  border: 1px solid transparent !important;
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  border-radius: 0.25rem !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important; }

.btn-blue {
  color: #fff !important;
  background-color: #007bff !important;
  border-color: #007bff !important; }

.dataTableUsuarios td {
  text-align: center; }

.table-listado-yellow {
  margin-bottom: 15px; }
  .table-listado-yellow table thead tr {
    background: #ffc107; }
    .table-listado-yellow table thead tr th {
      background: #ffc107;
      border-color: #ba8b00; }
      .table-listado-yellow table thead tr th input.ui-column-filter {
        width: 100%;
        box-sizing: border-box;
        margin-top: 5px; }
  .table-listado-yellow div.ui-paginator {
    background: rgba(255, 206, 58, 0.5); }
  .table-listado-yellow .ui-paginator a, .table-listado-yellow .ui-paginator select {
    background: rgba(211, 158, 0, 0.8); }

#titulo_sistema {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 30px; }
  #titulo_sistema span {
    font-weight: bold;
    font-size: 2em;
    display: block; }

.usuario-log-menu {
  margin-right: 10px; }

.sg-menuitem {
  margin: 0 3px !important; }

.error404 {
  text-align: center; }
  .error404 h1 {
    color: #48a0c9;
    font-size: 5.5rem; }

/* default SG styles */
.default-container {
  padding-top: 20px;
  padding-bottom: 20px; }
  .default-container h1 {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 10px; }
  .default-container form {
    margin-bottom: 15px; }

.card-p1 {
  margin: 5px; }
  .card-p1 i {
    margin-right: 5px; }

.card-session {
  margin-bottom: 20px; }

.card-link-mt {
  margin-top: 10px;
  display: inline-block; }

.home-icons {
  margin-right: 5px; }

.bg-orange {
  background-color: #fd7e14 !important; }

.border-orange {
  border-color: #fd7e14 !important; }

.bg-green {
  background-color: #28a745 !important; }

.border-green {
  border-color: #28a745 !important; }

.bg-d-red {
  background: rgba(220, 53, 69, 0.6) !important; }

.bg-df-red {
  background: #dc3545 !important;
  text-shadow: none !important; }

.bg-d-green {
  background: rgba(40, 167, 69, 0.6) !important; }

.bg-df-green {
  background: #28a745 !important;
  text-shadow: none !important; }

.bg-d-blue {
  background: rgba(0, 123, 255, 0.6) !important; }

.bg-df-blue {
  background: #007bff !important;
  text-shadow: none !important; }

.color-white {
  color: #fff !important; }

.menu-item span {
  width: 100%;
  white-space: initial; }

/*# sourceMappingURL=styles.css.map */
